$lineHeight: 22px;
$fontColor: #666;
$checkboxColor: #5FB878;
$disabledColor: #c2c2c2;

.eleTree-group{
    position: relative;
    .eleTree-empty-text{
        text-align: center;
        font-weight: 500;
        font-size: 14px;;
    }
    .eleTree-node{
        .eleTree-title{
            position: relative;
            line-height: $lineHeight;
            .eleTree-dropdown{
                display: inline-block;
                position: relative;
                width: 15px;
                height: 15px;
                top: 2px;
                left: -2px;
                cursor: pointer;
                &.eleTree-dropdown-code{
                    &:not(.eleTree-dropdown-hide){
                        &::before,
                        &::after{
                            content: "";
                            width: 8px;
                            height: 2px;
                            background-color: $fontColor;
                            position: absolute;
                            left: 3px;
                            top: 6px;
                            transform-origin: right;
                            transform: rotate(40deg);
                            cursor: pointer;
                        }
                        &::after{
                            transform: rotate(-40deg);
                        }
                    }
                    &.eleTree-dropdown-open{
                        transform: rotate(90deg);
                    }
                }
            }
            .eleTree-text{
                font-size: 14px;
                color: $fontColor;
            }
            .eleTree-checkbox{
                border: 1px solid #d2d2d2;
                font-size: 12px;
                border-radius: 2px;
                background-color: #fff;
                color: #fff;
                cursor: pointer;
                text-align: center;
                width: 13px;
                height: 14px;
                margin-right: 5px;
                display: inline-block;
                position: relative;
                top: 3px;
                &.eleTree-checkbox-code_checked{
                    border-color: $checkboxColor;
                    background-color: $checkboxColor;
                    &::before,
                    &::after{
                        content: "";
                        width: 6px;
                        height: 1px;
                        background-color: #fff;
                        position: absolute;
                        left: 0px;
                        bottom: 4px;
                        transform-origin: bottom;
                        transform: rotate(45deg);
                    }
                    &::after{
                        width: 10px;
                        left: 3px;
                        bottom: 7px;
                        transform: rotate(130deg);
                    }
                    &.eleTree-checkbox-code_disabled::before,
                    &.eleTree-checkbox-code_disabled::after{
                        background-color: $disabledColor;
                    }
                }
                &.eleTree-checkbox-code_half{
                    border-color: $checkboxColor;
                    background-color: $checkboxColor;
                    &::before{
                        content: "";
                        position: absolute;
                        width: 8px;
                        height: 1px;
                        background-color: #fff;
                        display: inline-block;
                        top: 6px;
                        left: 2px;
                    }
                    &.eleTree-checkbox-code_disabled::before{
                        background-color: $disabledColor;
                    }
                }
                &.eleTree-checkbox-code_disabled{
                    cursor: not-allowed;
                    background-color: #f2f6fc;
                    border-color: #dcdfe6;
                    color: $disabledColor;
                }
            }
            &.eleTree-title-active{
                background-color: #f0f7ff;
            }
            .eleTree-icon{
                display: inline-block;
                position: relative;
                top: 3px;
                width: 13px;
                height: 16px;
                margin-right: 5px;
            }
        }
    }
}