$lineHeight: 22px;
$fontColor: #666;
$checkboxColor: #5FB878;
$disabledColor: #aaa;

.eleTree-group{
    position: relative;
    .eleTree-empty-text{
        text-align: center;
        font-weight: 500;
        font-size: 14px;;
    }
    .eleTree-node{
        .eleTree-title{
            position: relative;
            line-height: $lineHeight;
            .eleTree-dropdown{
                display: inline-block;
                position: relative;
                width: 15px;
                height: 15px;
                top: 2px;
                left: -2px;
                cursor: pointer;
                box-sizing: border-box;
                &.eleTree-dropdown-code{
                    &:not(.eleTree-dropdown-hide){
                        &::before,
                        &::after{
                            content: "";
                            width: 8px;
                            height: 2px;
                            background-color: $fontColor;
                            position: absolute;
                            left: 3px;
                            top: 6px;
                            transform-origin: right;
                            transform: rotate(40deg);
                            cursor: pointer;
                        }
                        &::after{
                            transform: rotate(-40deg);
                        }
                    }
                    &.eleTree-dropdown-open{
                        transform: rotate(90deg);
                    }
                }
            }
            .eleTree-text{
                font-size: 14px;
                color: $fontColor;
                box-sizing: border-box;
            }
            .eleTree-checkbox{
                border-radius: 2px;
                cursor: pointer;
                text-align: center;
                width: 15px;
                height: 16px;
                margin-right: 5px;
                display: inline-block;
                position: relative;
                top: 3px;
                box-sizing: border-box;
                &.eleTree-checkbox-code{
                    font-size: 12px;
                    border: 1px solid #d2d2d2;
                    background-color: #fff;
                    color: #fff;
                    &.eleTree-checkbox-code_checked{
                        &:not(.eleTree-checkbox-code_disabled){
                            border-color: $checkboxColor;
                            background-color: $checkboxColor;
                        }
                        &::before,
                        &::after{
                            content: "";
                            width: 6px;
                            height: 1px;
                            background-color: #fff;
                            position: absolute;
                            left: 0px;
                            bottom: 4px;
                            transform-origin: bottom;
                            transform: rotate(45deg);
                        }
                        &::after{
                            width: 10px;
                            left: 3px;
                            bottom: 7px;
                            transform: rotate(130deg);
                        }
                        &.eleTree-checkbox-code_disabled::before,
                        &.eleTree-checkbox-code_disabled::after{
                            background-color: $disabledColor;
                        }
                    }
                    &.eleTree-checkbox-code_half{
                        border-color: $checkboxColor;
                        background-color: $checkboxColor;
                        &::before{
                            content: "";
                            position: absolute;
                            width: 8px;
                            height: 1px;
                            background-color: #fff;
                            display: inline-block;
                            top: 6px;
                            left: 2px;
                        }
                        &.eleTree-checkbox-code_disabled::before{
                            background-color: $disabledColor;
                        }
                    }
                }
                &.eleTree-checkbox-code_disabled{
                    border: 1px solid #ccc;
                    cursor: not-allowed;
                    background-color: #eee;
                    color: $disabledColor;
                }
            }
            &.eleTree-title-active{
                background-color: #f0f7ff;
            }
            .eleTree-icon{
                display: inline-block;
                position: relative;
                top: 3px;
                width: 13px;
                height: 16px;
                margin-right: 5px;
                box-sizing: border-box;
            }
        }
    }
}


@keyframes eleTree_rotate
{
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes eleTree_rotate
{
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
.eleTree-animate-rotate{
    display: inline-block;
    animation: eleTree_rotate .8s linear infinite;
    -webkit-animation: eleTree_rotate .8s linear infinite;
}
.eleTree-loading{
    display: inline-block;
    width: 15px;
    height: 15px;
    &.eleTree-loading-code{
        box-sizing: border-box;
        border-radius: 50%;
        background-color: transparent;
        border: 3px solid #333;
        border-top-color: transparent;
    }
}
.eleTree-loading-content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.05);
    .eleTree-loading{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}